body {
    /* 1. O caminho começa com / para achar a pasta assets na raiz */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/assets/fundo.png');

    /* 2. Garante que a imagem preencha a tela do celular sem repetir */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    /* O fundo não mexe quando você rola a página */
    color: white;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 10px;
}

button {
    cursor: pointer;

}

.text1212 {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.BarbeiroMenuStatus {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    align-items: center;
    /* 1. Transparência do fundo (Branco com 5% a 10% de opacidade) */
    background: rgba(129, 129, 129, 0.048);
    /* 2. O desfoque (O que dá o efeito de vidro fosco) */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Suporte para Safari */
    /* 3. Borda fina e clara (Simula o corte do vidro) */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* 4. Arredondamento e Sombra para dar profundidade */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 30px;
    min-width: 260px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;

}


.FotoPerfil {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    border-radius: 50%;
    border: 1px solid black;
}

.NomeBarbeiro {
    font-size: 20px;
    font-weight: bolder;
    min-width: 100%;
    text-align: center;
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}

.Legenda {
    font-size: 13px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.507);
}

.MudarStatusProfissional {
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px solid rgba(255, 255, 255, 0.26);
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 7px;
    font-size: 12px;
    font-weight: bolder;
}

.MudarStatusProfissionalDisponivel {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.26);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 7px;
    font-weight: bolder;
}

.MudarStatusProfissional img {
    width: 25px;
    height: 25px;
}

.MudarStatusProfissionalDisponivel img {
    width: 25px;
    height: 25px;
}





.FilaMainBox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 1. Transparência do fundo (Branco com 5% a 10% de opacidade) */
    background: rgba(129, 129, 129, 0.048);
    /* 2. O desfoque (O que dá o efeito de vidro fosco) */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Suporte para Safari */
    /* 3. Borda fina e clara (Simula o corte do vidro) */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* 4. Arredondamento e Sombra para dar profundidade */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 10px;
    min-width: 260px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    height: auto;
    text-align: center;

}

.FilaMainBox h5 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    padding: 0px 20px 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
    min-width: 260px;

}

.NumberNaFilaIMG {
    width: 25px;
    height: 25px;

}

h5 img {
    height: 50px;
    width: 50px;
}


.FilaBox {
    border: 1px solid rgba(255, 255, 255, 0.541);
    margin-top: 10px;
    border-radius: 25px;
    width: 95%;
    padding: 0px 0px 30px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}


.FilaBox img {
    width: 1px;
    height: 1px;
}

#textoApagavel {
    text-align: center;
    display: none;
}

.ClienteCardBox {
    /*   background: rgba(0, 0, 0, 0.466); */
    background: rgba(0, 0, 0, 0.76);
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.158);

}

.ClienteNome {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 2px;
    padding: 5px;
    gap: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}

.ClienteNome img {
    height: 25px;
    width: 25px;
}

.BoxIMG {
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.322);
}

.ServicoCliente {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.507);
    gap: 15px;
}

.ClienteCardBox {
    transition: all 0.5s ease;
}


.CloackClienteIMG {
    display: flex;
}


.CloackClienteIMG img {
    width: 25px;
    height: 25px;
}

.BtnClienteGerenciamento {
    padding: 5px;
    justify-content: space-between;
    margin-top: 5px;
    display: flex;
}

.BtnClienteGerenciamento img {
    width: 25px;
    height: 25px;
}

.BtnClienteGerenciamento a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bolder;
    border: 1px solid white;
}


.ChamarFinalizarCliente {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0px 20px;
    border-radius: 12px;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}

.FinalizarCliente {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0px 20px;
    border-radius: 12px;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}


.BarbeariaStatusMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.BarbeariaStatusMainBox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 1. Transparência do fundo (Branco com 5% a 10% de opacidade) */
    background: rgba(129, 129, 129, 0.048);
    /* 2. O desfoque (O que dá o efeito de vidro fosco) */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Suporte para Safari */
    /* 3. Borda fina e clara (Simula o corte do vidro) */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* 4. Arredondamento e Sombra para dar profundidade */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 30px;
    min-width: 260px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}

.BarbeariaStatusMainBox h5 {
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);



}

.BarbeariaStatusMainBox img {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    border-radius: 50%;
    border: 1px solid black;
}

.BarbeariaStatusMenu p {
    text-align: center;
}

.FecharBarbearia {
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px solid rgba(255, 255, 255, 0.26);
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 7px;
}

.AbrirBarbearia {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.26);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 7px;



}

.FecharBarbearia img {
    width: 25px;
    height: 25px;
}

.AbrirBarbearia img {
    width: 25px;
    height: 25px;



}



footer {
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    color: rgba(114, 114, 114, 0.5);
}

footer h6 {
    font-size: 8px;
    font-weight: lighter;
    text-decoration: overline;
}

footer p {
    margin-top: 5px;
    letter-spacing: 5px;
    font-weight: bolder;
}




.Indisponivel {
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0 8px 32px 0 rgba(255, 0, 0, 0.100);
}

.Atendendo {
    border: 1px solid white;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.100);
}

.Aguardando {
    box-shadow: 0 8px 32px 0 rgba(37, 37, 37, 0.048);
}

#hidden {
    display: none;
}

.Hidden {
    display: none;
}


.ClienteCardBox.AtendendoAgora {
    border: 2px solid #ffffff !important;
    /* Borda Branca */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}