* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

button {
    cursor: pointer;

}

body {

    /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../assets/fundo.png');  

    
    
    */

    /* 1. O caminho começa com / para achar a pasta assets na raiz */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/assets/fundo.png');
    
    /* 2. Garante que a imagem preencha a tela do celular sem repetir */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    /* 3. Cor de fundo caso a imagem demore a carregar */
    background-color: #000;
    background-color: rgb(15, 15, 15);
    background-attachment: fixed;
    /* O fundo não mexe quando você rola a página */
    color: white;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}


header {
    background-color: rgba(41, 41, 41, 0.199);
    height: auto;
    width: auto;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.034);

}


.Nav {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.Nav h3 {
    font-size: 20px;
    color: white;
}


.BtnNav {
    background-color: rgba(255, 255, 255, 0.932);
    padding: 7px 25px;
    border-radius: 7px;
    border: none;
    letter-spacing: 1px;
}


.BarberInfoBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    /* 1. Transparência do fundo (Branco com 5% a 10% de opacidade) */
    background: rgba(129, 129, 129, 0.048);
    /* 2. O desfoque (O que dá o efeito de vidro fosco) */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Suporte para Safari */
    /* 3. Borda fina e clara (Simula o corte do vidro) */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* 4. Arredondamento e Sombra para dar profundidade */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;

}

.BarberInfoBox h5 {
    margin-top: 3px;
    font-size: 17px;
    font-weight: bolder;
}

.BarberInfoBox img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 5px solid black;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.13));
    transition: 0.3s ease;

}

.StatusSituacion {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(117, 117, 117, 0.13);
    border-radius: 10px;
    font-size: 13px;
    font-weight: lighter;
    color: rgba(189, 189, 189, 0.651);

}


.ProfissionaisBox {

    margin-top: 30px;
    display: flex;
    flex-direction: column;

    align-items: center;
    /* 1. Transparência do fundo (Branco com 5% a 10% de opacidade) */
    background: rgba(129, 129, 129, 0.048);
    /* 2. O desfoque (O que dá o efeito de vidro fosco) */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Suporte para Safari */
    /* 3. Borda fina e clara (Simula o corte do vidro) */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* 4. Arredondamento e Sombra para dar profundidade */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;

}

.Legenda {
    margin-top: 15px;
    color: rgba(189, 189, 189, 0.651);
}

.ProfissionaisBox h6 {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    font-weight: bolder;
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}

.text1212 {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProfissionaisMainBox {
    margin-top: 20px;
    border-radius: 15px;
    padding: auto;
    border-top: 1px solid rgba(187, 185, 185, 0.37);
}


.ProfissionaisBoxes img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.13));
}

.SepareteBoxPF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 300px;
    max-width: 300px;
    height: auto;
}

.PfBoxes {
    background-color: rgba(26, 26, 26, 0.226);
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 130px;
    min-height: auto;
    padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid rgba(117, 117, 117, 0.13);
    position: relative;

}

.PfBox1 {
    display: flex;
    align-items: center;

}

.PfBox1 img {
    width: 35px;
    height: 35px;
    filter: grayscale(100%);
}

.PfBox1 h5 {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bolder;

}

.PfBox2 {
    border-top: 1px solid rgba(255, 255, 255, 0.089);
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    justify-content: space-around;
    align-items: center;
}

.NumberFila {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3px;
    margin-left: 2px;
    justify-content: space-between;
    color: rgba(189, 189, 189, 0.342);
    font-size: 14px;
    font-weight: bolder;
}

.NumberFila span {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}



.FilaMainBox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 1. Transparência do fundo (Branco com 5% a 10% de opacidade) */
    background: rgba(129, 129, 129, 0.048);
    /* 2. O desfoque (O que dá o efeito de vidro fosco) */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Suporte para Safari */
    /* 3. Borda fina e clara (Simula o corte do vidro) */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* 4. Arredondamento e Sombra para dar profundidade */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    text-align: center;

}

.FilaMainBox h5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    padding: 10px;
    border-bottom: 1px solid white;




}

.FilaMainBox h5 img {
    height: 35px;
    width: 35px;
}

.FilaBox {
    background-color: rgba(0, 0, 0, 0.144);
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    min-height: 250px;
    min-width: 95%;
    max-width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.082);
    border-radius: 15px;
}

.BntMainBox {
    margin-top: 15px;
    padding: 12px;
    width: 300px;
    height: auto;
}

.BntBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#priceTableBox {
    background: none;
    color: white;
    padding: 10px 9px;
    border: 1px solid white;
    border-radius: 12px;
}

#entrarNaFila {
    background: white;
    color: rgb(0, 0, 0);
    padding: 10px 9px;
    border: 1px solid white;
    border-radius: 12px;
}

footer {
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    color: rgba(114, 114, 114, 0.233);
}

footer h6 {
    font-size: 8px;
    font-weight: lighter;
    text-decoration: overline;
}

footer p {
    margin-top: 5px;
    letter-spacing: 5px;
    font-weight: bolder;
}









.Indisponivel {
    border: 1px solid rgb(255, 0, 0);
}

.Atendendo {
    border: 1px solid white;
}

.Aguardando {
    box-shadow: 0 8px 32px 0 rgba(37, 37, 37, 0.048);
}

#hidden {
    display: none;
}

#hidden2 {
    display: none;
}

#hidden3 {
    display: none;
}

.Hidden {
    display: none;
}




















#priceModalTableMainBox {
    position: absolute;
    margin-top: 30px;
    min-width: 300px;
    top: 900px;
    /* 1. Transparência do fundo (Branco com 5% a 10% de opacidade) */
    background: rgba(19, 19, 19, 0.808);
    /* 2. O desfoque (O que dá o efeito de vidro fosco) */
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    /* Suporte para Safari */
    /* 3. Borda fina e clara (Simula o corte do vidro) */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* 4. Arredondamento e Sombra para dar profundidade */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

#priceModalTableMainBox h5 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;

}

.PriceModalTitle img {
    height: 35px;
    width: 35px;
}


.TableBox {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgba(252, 252, 252, 0.418);
}


.PriceBox {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

.PriceBox h6 {
    font-size: 15px;
    font-weight: bolder;
    color: white;


}

.PriceBox img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.13));
}

.PriceInfo {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bolder;
}

.PriceInfo span {
    color: rgba(255, 255, 255, 0.247);
    display: flex;
    font-size: 12px;
    font-weight: lighter;
}


.close-btn {
    position: absolute;
    /* Fixa ele em relação ao card */
    right: 20px;
    /* Distância da direita */
    top: 15px;
    /* Distância do topo */
    font-size: 28px;
    /* Tamanho do X */
    cursor: pointer;
    /* Vira a "mãozinha" do mouse */
    color: rgba(255, 255, 255, 0.5);
    /* Cor meio apagada */
    transition: 0.3s;
}

.close-btn:hover {
    color: white;
    /* Brilha quando passa o mouse */
}


.OpcoesProfissionais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px 10px 20px;
    padding: 10px;


}


input[type="radio"] {
    display: none;
}

.CardsModal {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid rgb(43, 43, 43);
    transition: 0.7s ease;

}

.CardsModal img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    filter: grayscale(100%)
}







input:checked+.CardsModal {
    border: 2px solid white;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);


}

input:checked+.CardsModal img {

    filter: grayscale(25%);
    box-shadow: 0 0 10px rgba(0, 200, 83, 0.4);
}


.ModalFilaMainBox {
    margin-top: 300px;
    /* 1. Transparência do fundo (Branco com 5% a 10% de opacidade) */
    background: rgba(19, 19, 19, 0.055);
    /* 2. O desfoque (O que dá o efeito de vidro fosco) */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* Suporte para Safari */
    /* 3. Borda fina e clara (Simula o corte do vidro) */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* 4. Arredondamento e Sombra para dar profundidade */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;

}


.ModalFilaMainBox h5 {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
}

.ModalFilaMainBox img {
    width: 35px;
    height: 35px;


}


/* FORM GERAL */
form {
    max-width: 400px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

/* TITULOS */
h4,
h6 {
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 10px;
}

/* INPUTS */
input[type="text"],
input[type="tel"] {
    width: 100%;
    background-color: rgba(39, 39, 39, 0.267);
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #dddddd54;
    margin-bottom: 15px;
    outline: none;
    color: #ffffff;
    transition: 0.3s;
}

input:focus {
    border-color: #ffffff;
}

/* SERVIÇOS */
.ServicoCkeakBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}

.ServicoCkeakBox label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.TotalPrice {
    text-align: center;
    margin-top: 10px;
    color: rgba(128, 128, 128, 0.808);
    font-weight: bold;
    font-size: 12px;
}

/* TOTAL */
#totalDEServico {
    font-weight: bolder;
    color: #ffffff;
}

.TextoTitleSelectProfissional {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid white;
    font-weight: bolder;
    font-size: 15px;
}

/* PROFISSIONAIS */
.OpcoesProfissionais {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
}

.SepareteBoxPF {
    display: flex;
    gap: 15px;
    justify-content: center;
}

/* ESCONDE RADIO */
input[type="radio"] {
    display: none;
}

/* CARD */
.CardsModal {
    background-color: #00000041;
    width: 140px;
    padding: 12px;
    border-radius: 15px;
    border: 2px solid #dddddd31;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.CardsModal img {
    border-radius: 50%;
    margin-bottom: 8px;
}

.CardsModal h6 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.596);
}

/* HOVER */
.CardsModal:hover {
    transform: translateY(-5px) scale(1.03);
    border-color: black;
}

/* SELECIONADO */
input:checked+.CardsModal {
    border-color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    color: rgb(255, 255, 255);
}

input:checked+.CardsModal h6 {
    color: rgb(255, 255, 255);
}

input:checked+.CardsModal p {
    color: rgb(255, 255, 255);
}

.CardsModal p {
    font-size: 12px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.596);


}

/* SEM PREFERÊNCIA */
#nenhum+.CardsModal {
    border: 2px dashed #ffffff;
}





/* BOTÃO */

.BtnFilaForms {

    padding: 10px;
    margin-top: 30px;
    border-top: 1px solid white;


}





.BtnEndForms {
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


.LoginModal {
    position: absolute;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-items: center;
    /* 1. Transparência do fundo (Branco com 5% a 10% de opacidade) */
    background: rgba(129, 129, 129, 0.048);
    /* 2. O desfoque (O que dá o efeito de vidro fosco) */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Suporte para Safari */
    /* 3. Borda fina e clara (Simula o corte do vidro) */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* 4. Arredondamento e Sombra para dar profundidade */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    margin-left: 25px;
    margin-right: 25px;
    color: white;


}

.LoginModal input {
    background-color: rgb(26, 25, 25);
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
}

.LoginModal h6 {
    font-size: 13px;
    font-weight: bolder;
}

.LoginModal h5 {
    font-size: 16px;
    margin-top: 30px;
    font-weight: bolder;
}

.ForgotPass {
    padding: 15px;
    margin-top: 15px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;

}


.LoginModal a {
    text-decoration: underline;
    color: white;
    text-align: center;
    cursor: pointer;

}















/* Contruçao dos cards */

.ClienteCardBox {
    /*   background: rgba(0, 0, 0, 0.466); */
    background: rgba(0, 0, 0, 0.76);
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.158);

}

.ClienteNome {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 2px;
    padding: 5px;
    gap: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}

.ClienteNome img {
    height: 25px;
    width: 25px;
}

.BoxIMG {
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.322);
}

.ServicoCliente {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.507);
    gap: 15px;
}

.CloackClienteIMG {
    display: flex;
}


.CloackClienteIMG img {
    width: 25px;
    height: 25px;
}